<% if @article.errors.any? %>
  <ul>
    <h2>The following errors prevented the item from being saved</h2>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end %>
  </ul>
<%end %>